
<div class="col-md-12">  <h4>Home - {{ (units != null) ? units.Nama : '' }}</h4></div>
<div class="col-md-6">
  <img class="img-responsive"src="{{ (units != null) ? units.Gambar : '' }}" alt="">
</div>

<div class="col-md-4">
  <h1>{{ (units != null) ? units.Nama : '' }}</h1>
  <h2>IDR {{ (units != null) ? units.Harga : '' }}</h2>
  <p>category: {{ (units != null) ? units.Kategori : '' }} </p><br><br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus mattis consectetur. In hac habitasse platea dictumst. Nam varius eros nisi, at euismod magna porttitor nec. Praesent scelerisque accumsan est, vel pharetra libero cursus sed. Ut nulla metus, euismod et libero id, auctor fringilla elit. Suspendisse dolor tortor, lacinia at gravida id, tempor eu leo. Curabitur egestas tincidunt ipsum. Sed rhoncus quis magna vitae scelerisque. Donec pretium ex ipsum, a gravida erat bibendum ut. Etiam mattis neque libero, at placerat sapien convallis vel.

      
      Aenean sit amet posuere sapien, eu sodales neque. Nam pharetra mauris urna, a venenatis metus euismod malesuada. Phasellus blandit, velit eget semper volutpat, libero ante varius nulla, id placerat nulla felis nec risus. Aenean lobortis, ipsum id efficitur fringilla, mi odio bibendum tortor, vitae vehicula nunc elit eu felis. Duis pulvinar sit amet dolor ac pharetra. Curabitur aliquet scelerisque velit, at commodo nisl mollis ut. Etiam blandit arcu massa, eu posuere nibh dignissim at. Donec orci nisl, vehicula quis viverra vitae, elementum a sapien. Fusce id consectetur augue, vitae laoreet sem. Aliquam pretium ligula vitae nisl porta consequat. Phasellus ac dolor odio.
      
      </p>
</div>