.centered{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}
button{
    padding:10px;
    border:none;
    border-radius:2px;
}
button:active,button:focus{
    outline:none;
}
#list{
    cursor:pointer;
}
#list:hover{
background:rgba(0, 0, 0, 0.418);
}
#list:active,#list:focus{
    outline:none;
}